---
name: Pull Request
on:
  pull_request:
    branches:
      - main
      - "v*"
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.24"
          - "1.25"
    name: Test on Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go }}
          check-latest: true

      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up just
        uses: extractions/setup-crate@4993624604c307fbca528d28a3c8b60fa5ecc859 # v1
        with:
          repo: casey/just

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/.cache/cerbos-cloud-api/bin
          key: generate-${{ runner.os }}-go-${{matrix.go}}-${{ hashFiles('**/go.mod') }}
          restore-keys: |
            generate-${{ runner.os }}-go-${{matrix.go}}-

      - name: Test
        run: just test

  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25.x
          check-latest: true

      - name: Set up just
        uses: extractions/setup-crate@4993624604c307fbca528d28a3c8b60fa5ecc859 # v1
        with:
          repo: casey/just

      - name: modernize
        run: just lint-modernize

      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: "--config=.golangci.yaml --fix"

      - name: Check repo status
        run: |-
          just generate
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            git status -vv
            exit 1
          fi

  buf:
    name: Proto check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Lint protos
        uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
