---
name: Pull Request
on:
  pull_request:
    branches:
      - main
      - "v*"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x
          check-latest: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/.cache/cerbos-cloud-api/bin
          key: generate-${{ runner.os }}-go-${{ hashFiles('**/go.mod') }}
          restore-keys: |
            generate-${{ runner.os }}-go-

      - name: Test
        run: just test

  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x
          check-latest: true

      - name: Install just
        uses: extractions/setup-just@v2

      - name: modernize
        run: just lint-modernize

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.5.1
        with:
          version: latest
          args: "--config=.golangci.yaml --fix"

      - name: Check repo status
        run: |-
          just generate
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            git status -vv
            exit 1
          fi

  buf:
    name: Proto check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1.50.0
        with:
          github_token: ${{ github.token }}

      - name: Lint protos
        uses: bufbuild/buf-lint-action@v1.1.1

      - name: Check formatting
        run: buf format --diff --exit-code
