---
name: Publish
on:
  push:
    branches:
      - main
    tags:
      - v*
jobs:
  publishProtos:
    name: Publish Protobufs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1.44.0

      - name: Push to BSR
        uses: bufbuild/buf-push-action@v1.2.0
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}
          input: protos
